<a href="/">← Volver al catalogo</a>

<section class="producto">
<div class="imagenes">
<img class="principal" src="/azul.jpg">
<div class="miniaturas">
<img src="/azul.jpg">
<img src="/azul2.jpg">
</div>
</div>

<div class="info">
<h1>Queso Azul</h1>
<p class="precio">$10.800</p>

<p>
Queso de vetas azules con sabor fuerte e intenso. Ideal para
picadas gourmet, salsas y tablas de quesos especiales.
</p>

<button>Pedir catalogo</button>
</div>
</section>