<a href="/">← Volver al catálogo</a>

<section class="producto">
<div class="imagenes">
<img class="principal" src="/gouda.jpg">
<div class="miniaturas">
<img src="/gouda.jpg">
<img src="/gouda2.jpg">
</div>
</div>

<div class="info">
<h1>Queso Gouda</h1>
<p class="precio">$7.600</p>

<p>
Queso semiduro de sabor suave y textura elástica. Muy usado
en sandwiches, hamburguesas y tablas de quesos.
</p>

<button>Pedir catálogo</button>
</div>
</section>