<a href="/">← Volver al catalogo</a>

<section class="producto">
<div class="imagenes">
<img class="principal" src="/provolone.jpg">
<div class="miniaturas">
<img src="/provolone.jpg">
<img src="/provolone2.jpg">
</div>
</div>

<div class="info">
<h1>Queso Provolone</h1>
<p class="precio">$8.700</p>

<p>
Queso semiduro ideal para parrilla. Sabor intenso y excelente
para provoleta, gratinados y tablas de quesos.
</p>

<button>Pedir catalogo</button>
</div>
</section>