<a href="/">← Volver al catalogo</a>

<section class="producto">
<div class="imagenes">
<img class="principal" src="/reggianito.jpg">
<div class="miniaturas">
<img src="/reggianito.jpg">
<img src="/reggianito2.jpg">
</div>
</div>

<div class="info">
<h1>Queso Reggianito</h1>
<p class="precio">$10.300</p>

<p>
Queso duro similar al parmesano. Perfecto para rallar y
acompañar pastas. Sabor fuerte y estacionamiento prolongado.
</p>

<button>Pedir catalogo</button>
</div>
</section>