<a href="/">← Volver al catalogo</a>

<section class="producto">
<div class="imagenes">
<img class="principal" src="/tybo.jpg">
<div class="miniaturas">
<img src="/tybo.jpg">
<img src="/tybo2.jpg">
</div>
</div>

<div class="info">
<h1>Queso Tybo</h1>
<p class="precio">$6.100</p>

<p>
Queso semiblando de sabor suave. Perfecto para sándwiches,
picadas y preparaciones calientes. Buena capacidad de fundido.
</p>

<button>Pedir catalogo</button>
</div>
</section>